div.when {
  margin: 5px 0;
  background-color: #f7f7f7;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 3px;
  width: calc(100% - 10px);
}
.lst-it:nth-child(even) div.when {
  background-color: #fff;
}
.fnd #banner,
.fnd .splash .dia,
.tabs>.btns button.btn.active,
.btn-sq,
#back-to-map,
.srch-ctl ul li:hover,
.btn-rnd:hover,
#back-to-map.btn:before,
#back-to-map.btn:hover:before,
div.route .adp-placemark, 
div.route .adp-placemark * {
  background-color: #803D8D;
}
#back-to-map.btn:hover:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20points%3D%2210.596%2C11.949%205.646%2C7%2010.596%2C2.05%208.475%2C-0.071%201.404%2C7%208.475%2C14.07%20%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  border: 1px solid #fff;
}
.ol-overlaycontainer-stopevent .srch input {
  border: 1px solid #803D8D;
}
.btn-rnd {
  background-color: rgba(128,61,141,.55);
}
#mode td .btn-sq.active, .btn-sq:hover {
  background-color: rgba(128,61,141,.7);
  border: 1px solid #803D8D;
  box-shadow: 1px 1px 3px #803D8D;
}
@media only screen and (max-width: 750px), screen and (max-device-height: 350px) {
  .fnd .lst-srch .srch {
    display: block;
    border-bottom: 1px solid #803D8D;
    background-color: #803D8D;
    width: 100%;
  }
}
@media only screen and (max-width : 400px) {
  .fnd #banner * {
  font-size: 17px;
  color: #fff;
  line-height: 17px;
  margin-top: -2px;
  width: 129px;
  }
}
